<div class="blog-post">
  <h2 class="blog-post-title"><%= post.title %></h2>
  <p class="blog-post-meta"><%= post.published_at %> by <%= post.author.name %></p>
  <p>Post publicado <%= post.published %></p>
  <p class="contenido"><%= post.content %></p>
