<h1>Lista de Posts</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Fecha de publicación</th>
    <th>Publicado?</th>
    <th>Contenido</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.author.name %></td>
      <td><%= post.published_at %></td>
      <td><%= post.published %></td>
      <td><%= post.content %></td>
      <td><%= link_to 'Ver', post_path(post) %></td>
      <td><%= link_to 'Editar', edit_post_path(post) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Nuevo Post', new_post_path %>

