

<div class="container show-view">
	<%= link_to 'Atras', posts_path, class: "btn btn-default" %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 blog-main" id="post_list">
			<%= render partial: 'post_row', locals: {post: @post} %>
			
      <%= link_to 'Editar', edit_post_path(@post), remote: true, class: "btn btn-default" %>
      <%= link_to 'Eliminar', post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
			</div>
		
			<h3>Comentarios</h3>
			<hr>

			<div class="media">
				<%= render @post.comments %>
			</div>

			<h4>Has un comentario:</h4>
			<%= render "comments/form" %>

  	</div>
	</div>
</div>